body{
    background-image:url('img/nen2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:  100% 100%;
}
h1{
  color: red;
}
.alo{
    background-color: aqua;
    padding: 15px ;
    margin: 2px;

}
  a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
th, td{
	border: 1px double black;
}
th{
	background-color: IndianRed;
}
th, td {
	border: 1px solid black;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
}
